.room-header{
    width: 343px;
    height: 86px;
    margin-top: 54px;
    padding: 12px 16px;
    border-bottom: 1px solid #D9D9D9;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rt-header img{
    margin-left: 16px;
}

.product{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: -30px;
}
.product-img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #D9D9D9;
}

.product-list{
    width: 295px;
    height: 18px;
    padding: 8px;
    margin: 12px 0 0 auto;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
}


.room-body{
    width: 343px;
    height: 612px;
}

.input-msg{
    position: absolute;
    bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    height: 56px;
    padding: 0px 16px;
    margin: 0 14px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.12);
}

.input-msg input{
    width: 239px;
    border: none;
    font-size: 14px ;
}

input:focus {
    outline: none;
}