.room-header {
  height: 15%;
  padding: 6px 10px;
  padding-top: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.top-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-header-container {
  display: flex;
}

.rt-header img {
  margin-left: 16px;
  cursor: pointer;
}

.product {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 20px;
}
.product-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #d9d9d9;
}

.drop {
  display: flex;
  align-items: flex-end;
  padding: 4px;
  margin: 5px 0 0 auto;
  border-radius: 100px;
  background-color: #e6e6e6;
}

.drop.rounded {
  border-radius: 100px 100px 0 0;
}

.dropdown {
  width: 76px;
  padding: 12px 8px 12px 4px;
  margin: -4px 0 0 auto;
  border-radius: 8px 0 8px 8px;
  background: #e6e6e6;
}

.dropdown button {
  display: flex;
  margin-left: auto;
  padding: 4px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #ffdc25;
}

.chat-room-box {
  width: 95%;
  margin: 0 auto;
  height: 63vh;
  max-height: 63vh;
  overflow-y: auto;
}

.message {
  display: inline-flex;
  padding: 10px 14px;
  align-items: flex-start;
  border-radius: 0px 8px 8px 8px;
  background: #e1e1e1;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}

.input-msg {
  bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 0 auto;
  height: 56px;
  padding: 0px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.12);
}
.input-msg img {
  cursor: pointer;
}

.send {
  padding: 4px;
  border-radius: 8px;
  background-color: #ffdc25;
}

.input-msg input {
  width: 239px;
  border: none;
  font-size: 14px;
}

input:focus {
  outline: none;
}

.input-group-container {
  display: flex; /* Flex 컨테이너 설정 */
  align-items: center; /* 수직 방향으로 중앙 정렬 */
}

.input-group-container input {
  margin-left: 8px;
  align-items: center;
}

.reviewModal {
  font-size: 16px;
  font-weight: 500;
}

.reviewModal input {
  width: 255px;
  height: 96px;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-weight: 500;
}

.review-body {
  font-size: 14px;
}

.slider.slider-0 {
  background-color: #ffdc25;
}
.slider.slider-1 {
  background-color: #d9d9d9;
}
