.header {
    height: 56px;
}

.search {
    display: flex;
    height: 24px;
    margin: 16px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0F0F0;
}

.search img {    
    margin-left: auto;
}

.grid-container {
    height: 660px;
    margin: 16px 16px 0 16px;
    display: flex;
    gap: 8px;
    max-height: 600px;
    overflow-y: auto;    
}

.grid-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
}

.recipe-reg{
    position: absolute;
    bottom: 84px;
    z-index: 1;

    display: flex;
    margin-left: 24px;
    width: 295px;
    padding: 12px 16px;
    justify-content: center;
    cursor: pointer;

    border-radius: 8px;
    background-color: #FFF;

    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #191919; 
}