div {
    white-space: pre-wrap;
}

.scrap-back-button-container {
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 25px;
    display: flex;


}

.scrap-back-button {
    border: none;
    background-color: transparent;
}

.scrap-container {
    background-color: #FFF;
    /* 회색 바탕화면 색상 */
    height: 100vh;

    max-height: calc(100vh);
    /* 페이지 전체 높이에서 '구매하기' 버튼의 높이를 뺀 값으로 최대 높이 설정 */
    overflow-y: auto;
   

    /* 스크롤이 필요한 경우 스크롤 활성화 */

}

.scrap-profile-container {
    margin-top: 13px;
    margin-left: 16px;
    display: flex;
}

.scrap-profile-name-satisfaction-container {
    margin-left: 23px;
    margin-top: 8px;

}

.scrap-profile-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--grey-85, #D9D9D9);
    position: relative;

}

.my-satisfaction-container {
    display: flex;
    margin-top: 16px;
}

.my-satisfaction-num {
    color: var(--black-10, #191919);
    text-align: center;

    /* b14 */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.my-satisfaction-bar {
    margin-left: 4px;
    margin-top: 5px;
    width: 165px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
}

.my-satisfaction-fill {
    height: 100%;
    background-color: #F0D135;
}

.scrap-profile-name {
    color: var(--black-10, #191919);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

}

.scrap-option-container {
    margin-top: 49px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    height: 45px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--grey-95, #F2F2F2);

}

.profile-modify-button {
    border-radius: 100px;
    background: #FFF;
    display: inline-flex;
    padding: 7px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;

}

.wishlist-buttons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    margin-left: 16px;

}

.wishlist-button {
    display: flex;
    padding: 4px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid var(--grey-85, #D9D9D9);
    color: #BDBDBD;
    text-align: center;

    /* b14 */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;

}

.wishlist-button.active {
    background: var(--black-10, #191919);
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
}

.scrap-scroll{
    
    margin-bottom: 80px;
}