div {
    white-space: pre-wrap;
}

.product-detail-container {
    background-color: #f5f5f5;
    /* 회색 바탕화면 색상 */
    height: 100vh;
    padding: 16px;
    max-height: calc(100vh - 60px);
    /* 페이지 전체 높이에서 '구매하기' 버튼의 높이를 뺀 값으로 최대 높이 설정 */
    
    margin-bottom: 80px;
    /* 스크롤이 필요한 경우 스크롤 활성화 */


}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */
    margin-top: 30px;
}

.product-images {
    width: 100%;
    height: 200px;
    border-radius: 10px;

}

.product-header {

    max-width: 100%;
    height: 10px;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;

}

.product-name {
    margin-left: 10px;
    color: #191919;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}



.back-button {
    margin-top: 4px;
    border: none;
    background-color: transparent;
}

.product-price {
    color: #191919;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.384px;
}

.price-pick {
    margin-top: 16px;
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;

}

.product-seller {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.product-satisfaction-bar {
    margin-top: 5px;
    width: 128px;
    /* 바의 너비 설정 */
    height: 8px;
    /* 바의 높이 설정 */
    background-color: #D9D9D9;
    /* 바의 배경색 설정 */
    border-radius: 5px;
    /* 바의 모서리를 둥글게 만듭니다. */
    overflow: hidden;
    /* 만족도를 나타내는 바의 내용이 바깥으로 넘치지 않도록 합니다. */
}

.satisfaction-fill {
    height: 100%;
    /* 바의 높이를 100%로 설정하여 전체 바를 채우도록 합니다. */
    background-color: #F0D135;
    /* 만족도가 50% 이상일 때의 채워진 바의 배경색을 설정합니다. */
}

.product-satisfaction {
    text-align: right;
    color: #262626;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}

.seller-name {
    color: #333;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;

}

.satisfaction-num {
    margin-left: 5px;
    color: #262626;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.18px;
}


.address-name {
    display: flex;
    justify-content: space-between;
    color: #666;
    text-align: center;
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}

.product-distance {
    color: #666;
    text-align: center;
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    margin-left: 4px;
    margin-bottom: 5px;
}

.product-link {
    margin-top: 8px;
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #DADADA;
    color: #B0B0B0;
    font-family: ABeeZee;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.product-content {
    margin-top: 36px;
    color: #333;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.14px;
    margin-bottom: 24px;
}



.product-people {
    color: #191919;
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    margin-bottom: 17px;

}


.product-sell-button-container {
    display: flex;
    /* 자식 요소를 수평으로 정렬하기 위해 flex를 사용합니다. */
    justify-content: center;
    /* 수평으로 가운데 정렬합니다. */
    align-items: center;
    /* 수직으로 가운데 정렬합니다. */
    position: fixed;
    /* 페이지 하단에 고정 */
    left: 0;
    bottom: 0;
    width: 100%;
    /* 가로 전체를 차지하도록 설정 */
    height: 70px;
    background-color: white;
}

.product-sell-button {
    /* 버튼 스타일 */
    width: 343px;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #F0D135;
    color: #191919;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.people-container {
    margin-top: 40px;


}



.product-address {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.look-map {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
}

.product-detail-address-text {
    color: var(--black-10, #191919);

    /* h16 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.16px;
    margin-bottom: 5px;

}

.remaining-message {


    text-align: center;
    padding: 8px 12px;
    margin-top: -20px;
    margin-left: 80px;
    width: 45%;
    border-radius: 0px 8px 8px 8px;
    background: var(--brand_color, #FFDC25);
    box-shadow: 0px 4px 8px 0px rgba(25, 25, 25, 0.08);
    color: var(--black-10, #191919);

    /* b14_r */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;

}

.detial-pick-button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 16px;
}

.price-date-container {
    width: 100%;
    
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    justify-content: space-between;
}

.create-date-container {
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px; /* 간격 설정 */
    

}

.create-date {
   
    
    color: var(--grey-60, #989898);

    /* b12_r */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.alert-dute-date {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFEF99;
    color: #E09D16;

    /* b14_r */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    margin-right: 8px;

}


.divider {
    width: 100%;
    height: 2px;
    background: #F4F4F4;
}

.recom-recipe {
    margin-top: 16px;
}


.made-recipe-text {
    color: var(--black-10, #191919);

    /* h16 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.16px;

}

.testtest{
    display: flex;
}