@font-face {
    font-family: "Pretendard";
    font-display: fallback;

    src:
    
        url("./Pretendard/Pretendard-ExtraLight.otf") format('woff'),
        url("./Pretendard/Pretendard-Light.otf") format('woff'),
        url("./Pretendard/Pretendard-Medium.otf") format('woff'),
        url("./Pretendard/Pretendard-Regular.otf") format('woff'),
        url("./Pretendard/Pretendard-Thin.otf") format('woff');
    
}