@font-face {
    font-family: "Pretendard";
    font-display: fallback;

    src:
    
        url("./Pretendard/Pretendard-ExtraLight.otf") format('woff'),
        url("./Pretendard/Pretendard-Light.otf") format('woff'),
        url("./Pretendard/Pretendard-Medium.otf") format('woff'),
        url("./Pretendard/Pretendard-Regular.otf") format('woff'),
        url("./Pretendard/Pretendard-Thin.otf") format('woff');
    
}


@font-face {
    font-family: 'Pretendard Bold';
    font-display: swap;
    src: local('Pretendard Bold'), url('./Pretendard/Pretendard-Bold.otf') format('woff');
  }


  @font-face {
    font-family: 'Pretendard ExtraBold';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./Pretendard/Pretendard-ExtraBold.otf') format('woff');
  }

  
  @font-face {
    font-family: 'Pretendard Light';
    font-display: swap;
    src: local('Pretendard Light'), url('./Pretendard/Pretendard-Light.otf') format('woff');
  }